---
Checks: "-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  cert-*,
  concurrency-*,
  cppcoreguidelines-*,
  google-*,
  hicpp-*,
  misc-*,
  -misc-no-recursion,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  -readability-identifier-length"
HeaderFileExtensions:
  - hpp
ImplementationFileExtensions:
  - cpp
HeaderFilterRegex: ""
FormatStyle: ".clang-format"
SystemHeaders: false
